ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 4px;
  --padding-bottom: 4px;

  &.reacted {
    --background: var(--ion-color-light);
    --border-radius: 16px;
  }
}

.reaction-count {
  margin-left: 4px;
  font-size: 0.8em;
  color: var(--ion-color-medium);
}

ion-icon {
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}