:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}
