.score-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

  .team-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;

    ion-input {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      --padding-start: 0;
      --padding-end: 0;
      border: 1px solid var(--ion-color-medium-shade);
      border-radius: 8px;
      margin-top: 5px;
    }
  }

  .separator {
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-medium);
  }
}

.voted-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;

  ion-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
}
